.company-posts {
	padding-top: 100px;

	.content {
		display: flex;
		justify-content: space-between;
	}

	hr {
		width: 100%;
		height: 1px;
		margin-top: 48px;
		border: none;
		background-color: #e5e8ed;
	}

	.post-item {
		width: 600px;
	}
}
