@import '../../../../assets/variables.scss';

.post-detail-item {
	width: 100%;

	.content {
		display: flex;
		justify-content: space-between;
		padding-top: 100px;
	}

	.left-side {
		width: 810 / 1220 * 100%;
	}

	.post__info {
		display: flex;
		gap: 80px;

		.date,
		.category {
			.text {
				margin-top: 8px;
				display: flex;
				align-items: center;
				gap: 8px;

				.icon {
					font-weight: 900;
					font-size: 18px;
				}

				h3 {
					display: block;
					color: $black;
					font-size: 17px;
					font-weight: 700;
					line-height: 150%;
				}
			}

			p {
				color: $light-gray;
				font-size: 16px;
				font-weight: 400;
				line-height: 160%;
			}
		}
	}

	.diving-line {
		margin-top: 40px;
		margin-bottom: 60px;
	}

	.post__content {
		* {
			padding-bottom: 30px;
		}

		h2 {
			color: $black;
			font-size: 26px;
			font-weight: 700;
			line-height: 150%;
		}
		img {
			width: 100%;
			height: 460px;
			object-fit: cover;
		}
		main {
			color: #424551;
			font-size: 18px;
			font-weight: 400;
			line-height: 160%;
		}
	}

	.right-side {
		width: 340 / 1220 * 100%;
	}
}
